language: python
python:
- '3.3'
- '3.4'
- "3.5"
- "3.5-dev"  # 3.5 development branch
- "3.6"
- "3.6-dev"  # 3.6 development branch
- 'pypy3.3-5.5-alpha'
install:
- python setup.py install
script:
- python setup.py test
